<template name='board'>
<!--   {{getPit pit='A1' board=boardData}}
    {{getPitA1 boardData}} -->
<!--     <table>
            <tr>
                <td rowspan="2" style="background:blue"></td>
                <td style="background:red"></td>
                <td style="background:green"></td>
                <td rowspan="2" style="background:blue"></td>
            </tr>
            <tr>
                <td style="background:red"></td>
                <td style="background:green"></td>
            </tr>
        </table> -->
    <div id='board'>
        <div class='bank'>
            {{bankB}}
        </div>
        <div id='pit-container'>
            <div class='row'>
                <div class="pit" data-pit-id='12'>
                    {{pitB6}}
                </div>
                <div class="pit" data-pit-id='11'>
                    {{pitB5}}
                </div>
                <div class="pit" data-pit-id='10'>
                    {{pitB4}}
                </div>
                <div class="pit" data-pit-id='9'>
                    {{pitB3}}
                </div>
                <div class="pit" data-pit-id='8'>
                    {{pitB2}}
                </div>
                <div class="pit" data-pit-id='7'>
                    {{pitB1}}
                </div> 
            </div>
            <div class='row'>
                <div class="pit" data-pit-id='0'>
                    {{pitA1}}
                </div>
                <div class="pit" data-pit-id='1'>
                    {{pitA2}}
                </div>
                <div class="pit" data-pit-id='2'>
                    {{pitA3}}
                </div>
                <div class="pit" data-pit-id='3'>
                    {{pitA4}}
                </div>
                <div class="pit" data-pit-id='4'>
                    {{pitA5}}
                </div>
                <div class="pit" data-pit-id="5">
                    {{pitA6}}
                </div>
            </div>
        </div>
        <div class='bank'>
            {{bankA}}
        </div>
    </div>
</template>