<template name="game">
    {{_id}}
    <ol start="0">
        {{#if boardData}}
            {{#each boardData}}
                <li>{{this}} </li>
            {{/each}}
        {{/if}}
    </ol>
    {{status}} {{turn}}
    {{>board}}
    
<!--     {{#if boardData}}
        {{>board board=boardData}}
    {{/if}} -->
    <div id='board'>
        <div id='bank-a'>
        </div>
        <div id='pits'>
            <div id="row-a">
            </div>
            <div id='row-b'>
            </div>
        </div>
    </div>
</template>